* {
  margin: 0;
  padding: 0;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 12px;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

header {
  height: 475px;
  display: flex;
  flex-flow: column nowrap;
}

.social_menu {
  height: 35px;
  background-color: #6ec09f;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  z-index: 10;
  padding: 0 1rem;
}

.social {
  margin-left: 1rem;
  list-style-type: none;
  display: flex;
}

.social li {
  width: 16px;
  height: 16px;
  display: flex;
  padding-left: 1rem;
  cursor: pointer;
}

.insta {
  background-image: url("./image/social/Instagram_normal.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.insta:hover {
  background-image: url("./image/social/Instagram_over.png");
}

.twitter {
  background-image: url("./image/social/Twitter_normal.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.twitter:hover {
  background-image: url("./image/social/Twitter_over.png");
}

.youtube {
  background-image: url("./image/social/Youtube_normal.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.youtube:hover {
  background-image: url("./image/social/Youtube_over.png");
}

.facebook {
  background-image: url("./image/social/Facebook_normal.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.facebook:hover {
  background-image: url("./image/social/Facebook_over.png");
}

.lang {
  display: flex;
  flex-flow: row nowrap;
}

.lang a {
  margin-left: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #428b6e;
}

.main_menu {
  height: 440px;
  background-image: url("./image/background.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding-top: 60px;
  align-items: center;
}

.nav {
  background-color: rgba(255, 255, 255, 0.7);
  height: 35px;
  color: #282828;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 7rem;
  margin-top: 2rem;
}

.nav div {
  padding: 0 1rem;
  border-left: 1px solid #282828;
  font-weight: bold;
}

.nav div a {
}

.nav div:first-child {
  border-left: 0px;
}

.nav div a:hover {
  color: #428b6e;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
  flex: 1;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.3em;
}

h2 {
  font-family: "Arial Bold", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

h3 {
  font-family: "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-3 {
  margin-top: 3em;
}

.color_green {
  color: #5fbb97;
}

.color_gray {
  color: #b3b1b1;
}
.color_gray_dark {
  color: #797878;
}



.color_white {
  color: #ffffff;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  max-width: 850px;
}

.card {
  padding: 8px;
  flex:1 150px;
}

.img_wrapper img {
  width: 100%;
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  font-weight: bold;
  cursor: pointer;
}

.btn_green {
  width: 222px;
  height: 38px;
  background-image: url('./image/buttons/button.png');
  background-repeat: repeat;
  background-size: contain;
  color: #fff;

}
.btn_white {
  width: 243px;
  height: 58px;
  background-image: url('./image/buttons/button_white.png');
  background-repeat: repeat;
  background-size: cover;
  color: #6ec09f;
}

.button_name {
  position: absolute;
  top:50%;
}

.bg_green {
  background-color: #6ec09f;
}

.bg_gray {
  background-color: #ebebec;
}

footer {
  background-color: #428b6e;
  height: 145px;
}

@media (min-width: 1440px) {
  .social_menu {
    padding: 0 24rem;
  }
}

@media (max-width: 768px) {
  .nav {
    height: auto;
    max-width: 320px;
    width: 95%;
    padding: 1rem 0;
  }
  .nav div {
    width: 95%;
    padding: 0.2rem 1rem;
    border-left: 0;
  }
  
}


